<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<httpModules>           
      -->
    <!--<add type="QueryStringModule" name="QueryStringModule"/>-->
    <!--
   <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
    </httpModules>-->
    <!--<securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.13.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" executionTimeout="2097151" maxRequestLength="2097151"/>
    <pages maxPageStateFieldLength="40" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="includes" tagName="PageContent" src="~/includes/content.ascx"/>
        <add tagPrefix="CKEditor" tagName="Editor" src="~/Poweradmin/ckeditor/ckeditor.ascx"/>
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="404.html">
      <error statusCode="404" redirect="404.html"/>
      <error statusCode="400" redirect="404.html"/>
      <error statusCode="500" redirect="error.aspx"/>
    </customErrors>
  </system.web>
  <appSettings>
    <add key="siteurl" value="http://localhost:49924/"/>
    <add key="rootpath" value="C:\\Users\\user\\Desktop\\22-jan-2019\\DESD08\\"/>
    <add key="cmspath" value="http://localhost:49924/poweradmin"/>
    <add key="FCKeditor:UserFilesPath" value="~/webfiles"/>
    <add key="SiteName" value="DSED08"/>
    <add key="PageTitle" value="Welcome to Power Admin"/>
    <add key="Captcha" value="\images\captcha.jpg"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="umbracoUseMediumTrust" value="false"/>
    <add key="FileSize" value="50"/>
    <add key="ImageSize" value="5"/>
    <add key="VideoSize" value="25"/>
    <add key="Logo" value="/images/logo.png"/>
    <add key="AdminLogo" value="/images/white-logo.png"/>
    <add key="ProductImgWidth" value="210"/>
    <add key="ProductImgHeight" value="255"/>
    <add key="ProductSmallImgWidth" value="43"/>
    <add key="ProductSmallImgHeight" value="59"/>
    <add key="teaserSidewidth" value="270"/>
    <add key="teaserSideHeight" value="395"/>
    <add key="teaserMiddlewidth" value="415"/>
    <add key="teaserMiddleHeight" value="225"/>
    <add key="teaserBottomwidth" value="870"/>
    <add key="teaserBottomHeight" value="225"/>
    <add key="PhotoLargeWidth" value="365"/>
    <add key="PhotoLargeHeight" value="190"/>
    <add key="PhotosmallWidth" value="365"/>
    <add key="PhotosmallHeight" value="190"/>
    <add key="BannerImgWidth" value="870"/>
    <add key="BannerImgHeight" value="454"/>
    <add key="PartnerImgWidth" value="261"/>
    <add key="PartnerImgHeight" value="88"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=(local);Initial Catalog=DSED08;Integrated Security=True"/>
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^DSED08\.co.nz"/>
          </conditions>
          <action type="Redirect" url="http://localhost:49924/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlCustom="public" cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <!-- GZip/deflate static file content. -->
    <httpCompression directory="%SystemDrive%\websites\_compressed">
      <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="deflate"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="true"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>